<!doctype html>
{%load static %}
<html lang="en">
  <title>Connect</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="https://kit.fontawesome.com/b3db0ce89f.js" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    {% block header %}
    <title>Venue Django</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {%endblock%}
</head> 
<body>
	{% include 'events/navbar.html' %}
	<br/>
  <div class='container'>
    {% include 'events/messages.html' %}
   	{% block content%}{%endblock%}
 
    {% block javascript %}
    <!-- <script src="{% static 'js/notify.js' %}"></script> -->
    {% endblock %}
  </div>

 
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
<footer id="footer">
  <div>
    <i class="fa-brands fa-twitter med-contact"></i>
    <i class="fa-brands fa-linkedin med-contact"></i>
    <i class="fa-brands fa-github med-contact"></i>
    <i class="fa-solid fa-envelope med-contact"></i>
    <i class="fa-brands fa-github"></i>
  </div>
  <p>© Copyright 2023</p>

</footer>
</html>