{% extends 'events/base.html' %}
 
{% load static %}
{% include 'events/messages.html' %}

{% block header %}
<title>Login Page</title>
 
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
{%endblock%}
{% block content %}
 
<div class="container city-event text-center">
 <h1>Welcome To City Events</h1>
 <p>Where you can rent venue, make events and honor you Guest</p>
 <h1></h1>
</div>
<div class="container ">
 
   </div>
<div class="container   ">
    <div class="row   justify-content-center align-items-center  ">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    Login
                </div>
                <div class="card-body">
                    <!-- Your login form goes here -->
                    <form method="post">
                        <div class="form-group">
                            <label for="username">Username:</label>
                            {% csrf_token %}
                            {{form.username}}
                        </div>
                        <div class="form-group">
                            <label for="password">Password:</label>
                            {{form.password}}
                        </div>
                        <button type="submit" class="btn btn-primary">Login</button>
                    </form>
                </div>
                <div class="card-footer">
                    <div class="text-center">
                        <p>Don't have an account? <a href="{%url 'accounts:signup' %}">Sign Up</a></p>
                        <p>Forgot your password? <a href="{% url 'accounts:password-reset' %}">Forgot Password</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
 
{% endblock %}
 